<!--いいね機能-->
    <td>
    	<div class="favorites">
           
		 <% if  @book.favorited_by?(current_user) %>
				<%= link_to  book_favorite_path(@book.id), method: :delete, remote:true do %>
				<i class="fas fa-heart" ></i>
			  <% end %>
				<%= @book.favorites.count %>
				<% else %>
				<%= link_to  book_favorite_path(@book.id), method: :post, remote:true do %>
					 <i class="far fa-heart"></i>
				<% end %>
				<%= @book.favorites.count %>
		 <% end %>
	   </div>
   </td>
　